/* sintaxis de Css
    Selector, etiquetaHtml, class, ID
    propiedad : valor;
    propiedad : valor;
    propiedad : valor; */

body {
    background-color: purple;
}

.micuadro {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    transition:
    width 0.5s, heigth 0.5s, background-color: 0.8s;
    -webkit-transition:width0.5s, heigth0.5s, background-color: 0.8s;
    -moz-transition:width0.5s, heigth0.5s, background-color: 0.8s;
    -ms-transition:width0.5s, heigth0.5s, background-color: 0.8s;
    -o-transition:width0.5s, heigth0.5s, background-color: 0.8s;
}

.micuadro:hover {
    background-color: aqua;
    width: 400px;
    height: 400px;
}