/* sintaxis de Css
    Selector, etiquetaHtml, class, ID
    propiedad : valor;
    propiedad : valor;
    propiedad : valor; */

.caja1 {
    color: bisque;
}

.caja2 {
    color: green;
}

.caja3 {
    color: red;
}

#caja5{
    color: brown;
}



