html {
    background-color:  #29b5c4;
}


    /* sintaxis de Css
    Selector, etiquetaHtml, class, ID
    propiedad : valor;
    propiedad : valor;
    propiedad : valor; */


h1 {

    background-color: #1b3f2b;
    color: green;
}

p{
    color: blue;

}